{% extends "base.html" %}
{% block title %}
    {% if object %}
        Editar contenido "{{ object.title }}"
    {% else %}
        Agregar nuevo contenido
    {% endif %}
{% endblock %}
{% block content %}
    <div class="ui two column centered grid">
        <div class="column">
            <h1>
                {% if object %}
                    Editar contenido "{{ object.nombre }}"
                {% else %}
                    Agregar nuevo contenido
                {% endif %}
            </h1>
            <div class="module">
                <h2>Informacion del curso</h2>
                <form action="" class="ui form" method="post" enctype="multipart/form-data">
                    {{ form.media }}
                    {% for field in form %}
                        <div class="field">
                            <label>{{ field.label_tag }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    {% csrf_token %}
                    <p>
                        <a class="ui grey button" href="{% url "modulo_contenido_list" modulo_id %}">Cancelar</a>
                        <input class="ui positive button" type="submit" value="Guardar">
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
